version: '2'
services:
  rails-app:
    container_name: tapp_rails-app
    build:
      context: .
      args:
          RAILS_ENV: ${RAILS_ENV}
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      SECRET_KEY_BASE: ${SECRET_KEY_BASE}
    networks:
      - default
      - front_end
    ports:
      - "3000:3000"
    links:
      - postgres

  postgres:
    image: postgres:9.6-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - /var/lib/postgresql/data

networks:
  # "front_end" network will be attached to CP app so it can use the endpoints
  front_end:
    driver: bridge
