<!DOCTYPE html>
<html>
  <head>
    <title>TAPP</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'app' %>
    <%= stylesheet_pack_tag 'app' %>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
